TWITCH_TOKEN=oauth:your_twitch_oauth_token
TWITCH_NICK=your_bot_nick
TWITCH_CHANNEL=your_channel_name
TWITCH_CHANNELS=your_primary_channel,your_second_channel
CLIENT_ID=your_twitch_client_id
CLIENT_SECRET=your_twitch_client_secret
IGDB_CLIENT_ID=your_igdb_client_id_or_leave_empty_to_reuse_client_id
IGDB_CLIENT_SECRET=your_igdb_client_secret_or_leave_empty_to_reuse_client_secret
BOT_ID=your_twitch_bot_id
CALENDARIFIC_KEY=your_calendarific_api_key
OPENROUTER_API_KEY=your_openrouter_api_key
RAWG_API_KEY=your_rawg_api_key
GAMES_SHEET_URL=https://docs.google.com/spreadsheets/d/your_sheet_id
RECOMMENDATIONS_LIMIT=5
RECOMMENDATION_SHEETS_SYNC_DEBOUNCE_SECONDS=15
RECOMMENDATIONS_BANNED_USERS=user1,user2
RECOMMENDATIONS_STREAMER_LOGIN=tabula
RECOMMENDATIONS_STREAMER_DISPLAY_NAME=Tabula
